.nudake {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nudake > canvas {
  position: absolute;
}